<!--@subject {{trans "New Subscription Comment"}} @-->
<!--@vars {
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template"
} @-->
{{template config_path="design/email/header_template"}}

Dear FIRST_NAME LAST_NAME,

The following comment was added to your subscription profile #S-13.

{{comment }}

You can all comments on your subscription profile by logging into your account.

If you have questions about your subscription profile, you can email us at {customer_support_email}.

{{template config_path="design/email/footer_template"}}