<!--@subject {{trans "Subscription Payment Failed"}} @-->
<!--@vars {
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"template config_path=\"design\/email\/header_template\"":"Email Header Template"
} @-->
{{template config_path="design/email/header_template"}}

Dear FIRST_NAME LAST_NAME,

We were unable to process the payment for subscription profile #S-13. We will make another attempt in {{ mpower > past due > attempt_interval }} day(s).

Log in to your account and verify that your payment details are up to date to prevent any interruption of service.

If you have questions about your subscription profile, you can email us at {customer_support_email}.

{{ standard display of the subscription profile, just like the order email… with products }}

{{template config_path="design/email/footer_template"}}