<!--@subject {{trans "Upcoming recurring order for %sub_label profile from" sub_label=$subscription.getLabel()}} {{config path="general/store_information/name"}} @-->
<!--@vars {
"template config_path=\"design\/email\/header_template\"":"Email Header Template",
"template config_path=\"design\/email\/footer_template\"":"Email Footer Template",
"var store_email":"Store Email",
"var date":"Upcoming Subscription Renewal Date",
"var customer":"Customer",
"var subscriptions":"Subscription Profiles",
"layout handle=\"subscriptions_email_profile_items\" subscriptionProfiles=$subscriptions":"Subscription Items Grid"
} @-->
{{template config_path="design/email/header_template"}}
<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans 'Dear %firstname %lastname,' firstname=$customer.getFirstName() lastname=$customer.getLastName()}}</p>
            <p>
                {{trans 'You have an upcoming recurring order on'}} <strong>{{var date}}</strong>
            </p>
            <p>
                {{trans '<a href="%account_url">Login to your account</a> to make any changes to your recurring purchase. You can find it under the My Subscriptions tab on your account page.' account_url=$this.getUrl($store,'customer/account/',[_nosid:1]) |raw}}
            </p>
            <p>
                {{trans 'If you have questions about your subscription profile, you can email us at <a href="mailto:%store_email">%store_email</a>' store_email=$store_email |raw}}
            </p>
        </td>
    </tr>
</table>
<p>
    {{trans 'The next payment will occur on %date.' date=$date}}
</p>
{{layout handle="subscriptions_email_profile_items" subscriptionProfiles=$subscriptions area="frontend"}}
<p>
    {{trans 'To make changes to your recurring order <a href="%account_url">log into your account</a>' account_url=$this.getUrl($store,'customer/account/',[_nosid:1]) |raw}}
</p>
{{template config_path="design/email/footer_template"}}
