<?xml version="1.0"?>
<!--
/**
* Copyright © 2017 TechNWeb, Inc. All rights reserved.
* See TNW_LICENSE.txt for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool"
                 type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="recurring_options" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\RecurringOptions</item>
                    <item name="sortOrder" xsi:type="number">200</item>
                </item>
                <item name="product_subscriptions_options" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\Composite</item>
                    <item name="sortOrder" xsi:type="number">201</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="SubscriptionProfilePreviewBillingAddress"
                 type="TNW\Subscriptions\Block\Adminhtml\SubscriptionProfile\Review\Address">
        <arguments>
            <argument name="addressType" xsi:type="const">Magento\Quote\Model\Quote\Address::ADDRESS_TYPE_BILLING</argument>
        </arguments>
    </virtualType>
    <virtualType name="SubscriptionProfilePreviewShippingAddress"
                 type="TNW\Subscriptions\Block\Adminhtml\SubscriptionProfile\Review\Address">
        <arguments>
            <argument name="addressType" xsi:type="const">Magento\Quote\Model\Quote\Address::ADDRESS_TYPE_SHIPPING</argument>
        </arguments>
    </virtualType>
    <type name="TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\RecurringOptions">
        <arguments>
            <argument name="scopeName" xsi:type="string">product_form.product_form</argument>
        </arguments>
    </type>
    <type name="TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\Composite">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <!--Add modifier to set default values for subscription product attributes-->
                <item name="subscriptionDefaultValues" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\DefaultValues</item>
                <item name="subscriptionLockPrice" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\LockPrice</item>
                <item name="subscriptionDiscount" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\Discount</item>
                <item name="subscriptionTrial" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\Trial</item>
                <item name="unlockPresetQty" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\UnlockPresetQty</item>
            </argument>
        </arguments>
    </type>

    <!-- Validate and convert currency fields in configuration -->
    <type name="Magento\Config\Model\Config">
        <plugin name="subscriptions_config_validate_currency_fields"
                type="TNW\Subscriptions\Plugin\Config"
                sortOrder="10"
                disabled="false"/>
    </type>
    <virtualType name="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\PaymentAndBilling\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="checkmo" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\PaymentAndBilling\Form\Modifier\Checkmo</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
                <item name="billing-address" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Modifier\BillingAddressModifier</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="TNW\Subscriptions\Model\SubscriptionProfile\DataProvider\PaymentAndBilling">
        <arguments>
            <argument name="pool" xsi:type="object">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\PaymentAndBilling\Form\Modifier\Pool</argument>
        </arguments>
    </type>
    <virtualType name="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Modifier\BillingAddressModifier"
                 type="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Modifier\AddressModifier">
        <arguments>
            <argument name="isShipping" xsi:type="string">0</argument>
        </arguments>
    </virtualType>

    <type name="TNW\Subscriptions\Model\SubscriptionProfile\Create">
        <arguments>
            <argument name="session" xsi:type="object">TNW\Subscriptions\Model\Backend\Session\Quote</argument>
        </arguments>
    </type>

    <type name="TNW\Subscriptions\Model\Source\CurrencySelect">
        <arguments>
            <argument name="session" xsi:type="object">TNW\Subscriptions\Model\Backend\Session\Quote</argument>
        </arguments>
    </type>

    <!--Add modifier for Subscription profile creation on shipping address page-->
    <type name="TNW\Subscriptions\Model\SubscriptionProfile\DataProvider\Account">
        <arguments>
            <argument name="modifiersPool" xsi:type="object">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Account\Modifier\Pool</argument>
        </arguments>
    </type>
    <virtualType name="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Account\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="modifier_name" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Modifier\ShippingAddressModifier</item>
                    <item name="sortOrder" xsi:type="number">1</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Modifier\ShippingAddressModifier"
                 type="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Modifier\AddressModifier">
        <arguments>
            <argument name="isShipping" xsi:type="string">1</argument>
        </arguments>
    </virtualType>

    <virtualType name="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="order_history" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\OrdersHistory</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="TNW\Subscriptions\Model\SubscriptionProfile\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\Pool</argument>
        </arguments>
    </type>

    <!--Add modifier for Subscription profile creation on review profile page-->
    <type name="TNW\Subscriptions\Model\SubscriptionProfile\DataProvider\Review">
        <arguments>
            <argument name="modifiersPool" xsi:type="object">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Review\Form\Modifier\Pool</argument>
        </arguments>
    </type>
    <virtualType name="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Review\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="modifier_name" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Review\Form\Modifier\ProductDetails\Checkmo</item>
                    <item name="sortOrder" xsi:type="number">1</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
