<?xml version="1.0"?>
<!--
/**
* Copyright © 2017 TechNWeb, Inc. All rights reserved.
* See TNW_LICENSE.txt for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool"
                 type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="recurring_options" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\RecurringOptions</item>
                    <item name="sortOrder" xsi:type="number">200</item>
                </item>
                <item name="product_subscriptions_options" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\Composite</item>
                    <item name="sortOrder" xsi:type="number">201</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\RecurringOptions">
        <arguments>
            <argument name="scopeName" xsi:type="string">product_form.product_form</argument>
        </arguments>
    </type>
    <type name="TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\Composite">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <!--Add modifier to set default values for subscription product attributes-->
                <item name="subscriptionDefaultValues" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\DefaultValues</item>
                <item name="subscriptionLockPrice" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\LockPrice</item>
                <item name="subscriptionDiscount" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\Discount</item>
                <item name="subscriptionTrial" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\Trial</item>
            </argument>
        </arguments>
    </type>

    <!-- Validate and convert currency fields in configuration -->
    <type name="Magento\Config\Model\Config">
        <plugin name="subscriptions_config_validate_currency_fields"
                type="TNW\Subscriptions\Plugin\Config"
                sortOrder="10"
                disabled="false"/>
    </type>
</config>