<?xml version="1.0"?>
<!--
/**
* Copyright © 2017 TechNWeb, Inc. All rights reserved.
* See TNW_LICENSE.txt for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="TNW\Subscriptions\Model\SubscriptionProfile\QuoteCreateInterface" type="TNW\Subscriptions\Model\SubscriptionProfile\Admin\Create\Quote"/>
    <preference for="TNW\Subscriptions\Model\QuoteSessionInterface" type="TNW\Subscriptions\Model\Backend\Session\Quote" />
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool"
                 type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="recurring_options" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\RecurringOptions</item>
                    <item name="sortOrder" xsi:type="number">200</item>
                </item>
                <item name="product_subscriptions_options" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\Composite</item>
                    <item name="sortOrder" xsi:type="number">201</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="SubscriptionProfileEditPreviewBillingAddress"
                 type="TNW\Subscriptions\Block\Adminhtml\SubscriptionProfile\Review\Address">
        <arguments>
            <argument name="addressType" xsi:type="const">Magento\Quote\Model\Quote\Address::ADDRESS_TYPE_BILLING</argument>
            <argument name="profileState" xsi:type="const">TNW\Subscriptions\Model\SubscriptionProfile::STATE_EDIT</argument>
        </arguments>
    </virtualType>
    <virtualType name="SubscriptionProfileEditPreviewShippingAddress"
                 type="TNW\Subscriptions\Block\Adminhtml\SubscriptionProfile\Review\Address">
        <arguments>
            <argument name="addressType" xsi:type="const">Magento\Quote\Model\Quote\Address::ADDRESS_TYPE_SHIPPING</argument>
            <argument name="profileState" xsi:type="const">TNW\Subscriptions\Model\SubscriptionProfile::STATE_EDIT</argument>
        </arguments>
    </virtualType>
    <type name="TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\RecurringOptions">
        <arguments>
            <argument name="scopeName" xsi:type="string">product_form.product_form</argument>
        </arguments>
    </type>
    <type name="TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\Composite">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <!--Add modifier to set default values for subscription product attributes-->
                <item name="subscriptionDefaultValues" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\DefaultValues</item>
                <item name="subscriptionLockPrice" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\LockPrice</item>
                <item name="subscriptionDiscount" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\Discount</item>
                <item name="subscriptionTrial" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\Trial</item>
                <item name="unlockPresetQty" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\UnlockPresetQty</item>
                <item name="subscriptionPurchaseType" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\Product\Form\Modifier\PurchaseType</item>
            </argument>
        </arguments>
    </type>

    <!-- Validate and convert currency fields in configuration -->
    <type name="Magento\Config\Model\Config">
        <plugin name="subscriptions_config_validate_currency_fields"
                type="TNW\Subscriptions\Plugin\Config"
                sortOrder="10"
                disabled="false"/>
    </type>

    <!--Add modifier for Subscription profile creation on shipping address page-->
    <virtualType name="TNW\Subscriptions\Model\SubscriptionProfile\DataProvider\Modal\ShippingInformationForm"
                 type="TNW\Subscriptions\Model\SubscriptionProfile\DataProvider\Modal\SummaryAddressForm">
        <arguments>
            <argument name="isShipping" xsi:type="string">1</argument>
        </arguments>
    </virtualType>

    <virtualType name="TNW\Subscriptions\Model\SubscriptionProfile\DataProvider\Modal\BillingInformationForm"
                 type="TNW\Subscriptions\Model\SubscriptionProfile\DataProvider\Modal\SummaryAddressForm">
        <arguments>
            <argument name="isShipping" xsi:type="string">0</argument>
        </arguments>
    </virtualType>

    <virtualType name="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\ShippingInformationInsertForm"
                 type="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\SummaryInsertForm">
        <arguments>
            <argument name="formType" xsi:type="const">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\SummaryInsertForm::SHIPPING_INFORMATION_INSERT_FORM</argument>
        </arguments>
    </virtualType>
    <virtualType name="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\BillingInformationInsertForm"
                 type="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\SummaryInsertForm">
        <arguments>
            <argument name="formType" xsi:type="const">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\SummaryInsertForm::BILLING_INFORMATION_INSERT_FORM</argument>
        </arguments>
    </virtualType>
    <virtualType name="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\ShippingMethodInsertForm"
                 type="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\SummaryInsertForm">
        <arguments>
            <argument name="formType" xsi:type="const">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\SummaryInsertForm::SHIPPING_METHODS_INSERT_FORM</argument>
        </arguments>
    </virtualType>
    <virtualType name="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\PaymentMethodInsertForm"
                 type="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\SummaryInsertForm">
        <arguments>
            <argument name="formType" xsi:type="const">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\SummaryInsertForm::PAYMENT_METHODS_INSERT_FORM</argument>
        </arguments>
    </virtualType>
    <virtualType name="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\ProductsInsertForm"
                 type="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\SummaryInsertForm">
        <arguments>
            <argument name="formType" xsi:type="const">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\SummaryInsertForm::PRODUCTS_INSERT_FORM</argument>
        </arguments>
    </virtualType>

    <virtualType name="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="upcoming_orders" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\UpcomingOrders</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
                <item name="order_history" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\OrdersHistory</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
                <item name="change_history" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\ChangeHistory</item>
                    <item name="sortOrder" xsi:type="number">30</item>
                </item>
                <item name="dashboard" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\Dashboard</item>
                    <item name="sortOrder" xsi:type="number">40</item>
                </item>
                <item name="shipping_info" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\ShippingInformationInsertForm</item>
                    <item name="sortOrder" xsi:type="number">50</item>
                </item>
                <item name="shipping_method" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\ShippingMethodInsertForm</item>
                    <item name="sortOrder" xsi:type="number">60</item>
                </item>
                <item name="billing_info" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\BillingInformationInsertForm</item>
                    <item name="sortOrder" xsi:type="number">70</item>
                </item>
                <item name="payment_method" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\PaymentMethodInsertForm</item>
                    <item name="sortOrder" xsi:type="number">80</item>
                </item>
                <item name="products" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\ProductsInsertForm</item>
                    <item name="sortOrder" xsi:type="number">90</item>
                </item>
                <item name="cancel_button_popup" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\CancelButtonPopup</item>
                    <item name="sortOrder" xsi:type="number">100</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="TNW\Subscriptions\Model\SubscriptionProfile\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Form\Modifier\Pool</argument>
        </arguments>
    </type>

    <virtualType name="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Payment\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="checkmo" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Payment\Form\Modifier\Checkmo</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
                <item name="payflowpro" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Payment\Form\Modifier\Paypal\PaymentsPro</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
                <item name="subscription_and_account_information" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Payment\Form\Modifier\SubscriptionAndAccountInformation</item>
                    <item name="sortOrder" xsi:type="number">30</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="SubscriptionProfileCreatePreviewBillingAddress"
                 type="TNW\Subscriptions\Block\Adminhtml\SubscriptionProfile\Review\Address">
        <arguments>
            <argument name="addressType" xsi:type="const">Magento\Quote\Model\Quote\Address::ADDRESS_TYPE_BILLING</argument>
            <argument name="profileState" xsi:type="const">TNW\Subscriptions\Model\SubscriptionProfile::STATE_CREATE</argument>
        </arguments>
    </virtualType>
    <virtualType name="SubscriptionProfileCreatePreviewShippingAddress"
                 type="TNW\Subscriptions\Block\Adminhtml\SubscriptionProfile\Review\Address">
        <arguments>
            <argument name="addressType" xsi:type="const">Magento\Quote\Model\Quote\Address::ADDRESS_TYPE_SHIPPING</argument>
            <argument name="profileState" xsi:type="const">TNW\Subscriptions\Model\SubscriptionProfile::STATE_CREATE</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Sales\Model\ResourceModel\Order\Grid\Collection">
        <plugin
                name="tnw_subscriptions_sales_order_grid_collection"
                type="TNW\Subscriptions\Plugin\Model\ResourceModel\Order\Grid\Collection"
                sortOrder="100"
                disabled="false"/>
    </type>

    <!--Add modifier for Subscription profile edit on Summary tab-->
    <type name="TNW\Subscriptions\Model\SubscriptionProfile\DataProvider\Modal\SummaryPaymentMethodForm">
        <arguments>
            <argument name="modifiersPool" xsi:type="object">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Edit\SummaryPaymentMethodForm\Modifier\Pool</argument>
        </arguments>
    </type>
    <virtualType name="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Edit\SummaryPaymentMethodForm\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="checkmo" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Payment\Form\Modifier\Checkmo</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
                <item name="payflowpro" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Payment\Form\Modifier\Paypal\PaymentsPro</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Sales\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer">
        <plugin name="tnw_subscriptions_sales_order_items_column_initial_fee"
                type="TNW\Subscriptions\Plugin\Sales\Block\Order\Items\Column\Renderer\AddInitialFee"
                sortOrder="100"
                disabled="false"/>
    </type>

    <type name="Magento\Sales\Block\Adminhtml\Order\View\Items">
        <plugin name="tnw_subscriptions_sales_order_items_column_initial_fee"
                type="TNW\Subscriptions\Plugin\Sales\Block\Order\Items\AddInitialFee"
                sortOrder="100"
                disabled="false"/>
    </type>

    <virtualType name="TNW\Subscriptions\Model\Payflow\Service\Response\Transaction"
                 type="Magento\Paypal\Model\Payflow\Service\Response\Transaction">
        <arguments>
            <argument name="paymentManagement" xsi:type="object">TNW\Subscriptions\Model\Payment\PaymentMethodManagement</argument>
        </arguments>
    </virtualType>

    <type name="TNW\Subscriptions\Controller\Adminhtml\SubscriptionProfile\Create\Paypal\Response">
        <arguments>
            <argument name="transaction" xsi:type="object">TNW\Subscriptions\Model\Payflow\Service\Response\Transaction</argument>
        </arguments>
    </type>

    <virtualType name="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Account\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="modifier_name" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Modifier\ShippingAddressModifier</item>
                    <item name="sortOrder" xsi:type="number">1</item>
                </item>
                <item name="customer_popup_modifier" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Modifier\Account\CustomerPopupModifier</item>
                    <item name="sortOrder" xsi:type="number">2</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="TNW\Subscriptions\Controller\Adminhtml\SubscriptionProfile\Create\Product\Modified\Save">
        <arguments>
            <argument name="saveProcessor" xsi:type="object">TNW\Subscriptions\Model\Profile\Modified\Save\Processor</argument>
        </arguments>
    </type>
    <type name="TNW\Subscriptions\Controller\Adminhtml\SubscriptionProfile\Create\Process">
        <arguments>
            <argument name="saveProcessor" xsi:type="object">TNW\Subscriptions\Model\Profile\Step\Save\Processor</argument>
        </arguments>
    </type>
    <type name="TNW\Subscriptions\Controller\Adminhtml\SubscriptionProfile\Save">
        <arguments>
            <argument name="saveProcessor" xsi:type="object">TNW\Subscriptions\Model\Profile\Save\Processor</argument>
        </arguments>
    </type>
</config>
