<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="TNW_Subscriptions::top_level" module="TNW_Subscriptions" resource="Magento_Backend::content"
             sortOrder="9999" title="Subscription" translate="title"/>
        <add action="tnw_subscriptions/billingfrequency/index"
             id="TNW_Subscriptions::tnw_subscriptions_billing_frequency" module="TNW_Subscriptions"
             parent="TNW_Subscriptions::top_level" resource="TNW_Subscriptions::BillingFrequency" sortOrder="9999"
             title="Billing Frequency" translate="title"/>
        <add action="tnw_subscriptions/subscriptionprofile/index"
             id="TNW_Subscriptions::tnw_subscriptions_subscription_profile" module="TNW_Subscriptions"
             parent="TNW_Subscriptions::top_level" resource="TNW_Subscriptions::SubscriptionProfile" sortOrder="9999"
             title="Subscription Profile" translate="title"/>
        <!--Subscription profile attributes editor-->
        <add action="tnw_subscriptions/subscriptionprofile_attribute/index"
             id="TNW_Subscriptions::tnw_subscriptions_subscription_profile_attributes" module="TNW_Subscriptions"
             parent="TNW_Subscriptions::top_level" resource="TNW_Subscriptions::SubscriptionProfile_attributes" sortOrder="9999"
             title="Subscription Profile Attributes" translate="title"/>
        <!--Subscription profile product attributes editor-->
        <add action="tnw_subscriptions/subscriptionprofileproduct_attribute/index"
             id="TNW_Subscriptions::tnw_subsriptions_product_subscription_profile_attributes" module="TNW_Subscriptions"
             parent="TNW_Subscriptions::top_level" resource="TNW_Subscriptions::ProductSubscriptionProfile_attributes"
             sortOrder="9999"
             title="Product Subscription Profile Attributes" translate="title"/>
    </menu>
</config>
