<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="tnw_subscriptions" translate="label" sortOrder="360">
            <label>mPower</label>
        </tab>

        <section id="tnw_subscriptions_general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1"
                 showInStore="0">
            <class>separator-top</class>
            <label>General</label>
            <tab>tnw_subscriptions</tab>

            <resource>TNW_Subscriptions::config_general</resource>

            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General</label>
                <field id="version" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Extension Version</label>
                    <frontend_model>TNW\Subscriptions\Block\System\Config\Form\Field\Extension\Version</frontend_model>
                    <comment>The version of the Magento extension.</comment>
                </field>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1">
                    <label>Enable Subscriptions</label>
                    <source_model>TNW\Subscriptions\Model\Config\Source\Enabledisable</source_model>
                    <comment>Enable or disable recurring subscription capabilites in Magento.</comment>
                </field>
            </group>

            <group id="advanced" translate="label" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Advanced</label>
                <field id="generated_quotes_count" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0">
                    <label>Number of Quotes</label>
                    <frontend_class>validate-number validate-number-range number-range-1-</frontend_class>
                    <comment>The number of future quotes to generate at a time for the new subscription profile.</comment>
                </field>
                <group id="log" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Log Messages</label>
                    <field id="status" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0">
                        <label>Enable File</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Location is {{base_dir}}/var/log/tnw_subscriptions.log</comment>
                        <config_path>tnw_subscriptions_general/advanced/log_status</config_path>
                    </field>
                    <field id="db_status" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0">
                        <label>DB Logging</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <comment>Capture logs in the database.</comment>
                        <config_path>tnw_subscriptions_general/advanced/db_log_status</config_path>
                    </field>
                    <field id="db_log_limit" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0">
                        <label>DB Log Limit</label>
                        <config_path>tnw_subscriptions_general/advanced/db_log_limit</config_path>
                        <comment>Maximum number of rows to retain in the database before data is purged.</comment>  
                        <depends>
                            <field id="db_status">1</field>
                        </depends>
                    </field>
                    <field id="object_deep" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0">
                        <label>Log Object Depth</label>
                        <config_path>tnw_subscriptions_general/advanced/log_object_deep</config_path>
                        <comment>4 is the default depth. Maximum is 8.</comment>
                        <validate>validate-digits validate-digits-range digits-range-1-8</validate>
                    </field>
                </group>
            </group>
        </section>

        <section id="tnw_subscriptions_profile_options" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1"
                 showInStore="0">
            <class>separator-top</class>
            <label>Subscription Profiles</label>
            <tab>tnw_subscriptions</tab>

            <resource>TNW_Subscriptions::config_profile_options</resource>

            <group id="past_due_profile_options" translate="label" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Past Due</label>
                <field id="attempt_count" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="0">
                    <label>Attempt Count</label>
                    <frontend_class>validate-number validate-number-range number-range-1-</frontend_class>
                    <comment>The number of payment attempts prior to changing the status of the profile to "Suspended".</comment>
                </field>
                <field id="attempt_interval" translate="label" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="0">
                    <label>Attempt Interval</label>
                    <frontend_class>validate-number validate-number-range number-range-1-</frontend_class>
                    <comment>The number of days between retrying a failed payment.</comment>
                </field>
                <field id="grace_period" translate="label" type="text" sortOrder="3" showInDefault="1"
                       showInWebsite="0">
                    <label>Grace Period</label>
                    <frontend_class>validate-number validate-number-range number-range-1-</frontend_class>
                    <comment>The number of days before suspending a profile due to a failed payment.</comment>
                </field>
            </group>
        </section>

        <section id="tnw_subscriptions_product" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1"
                 showInStore="0">
            <label>Products</label>
            <tab>tnw_subscriptions</tab>

            <resource>TNW_Subscriptions::config_product</resource>

            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General</label>
                <comment>Default catalog setting for all products. Used when creating or importing new products into the catalog.</comment>
                <field id="purchase_type" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Available For</label>
                    <source_model>TNW\Subscriptions\Model\Config\Source\PurchaseType</source_model>
                    <comment>Captures if products should be available for a one-time pruchase, as a subscription, or both.</comment>
                </field>
                <field id="start_date_type" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1">
                    <label>Start Date</label>
                    <source_model>TNW\Subscriptions\Model\Config\Source\StartDateType</source_model>
                    <comment>Default catalog setting to determine when a subscription should start.</comment>
                </field>
                <field id="lock_product_price_status" translate="label" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1">
                    <label>Lock Product Price</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Default catalog setting to determine if the recurring price will always match the product price.</comment>
                </field>
                <field id="unlock_preset_qty_status" translate="label comment" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1">
                    <label>Unlock Preset Quiantity</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Product quantity will be preset for a customer and a customer cannot change product quantity when buying products.</comment>
                </field>
                <field id="savings_calculation" translate="label comment" type="select" sortOrder="40" showInDefault="1"
                       showInWebsite="1">
                    <label>Savings Calculation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Product is a service which customers use on daily basis.</comment>
                </field>
                <field id="infinite_subscriptions" translate="label comment" type="select" sortOrder="50" showInDefault="1"
                       showInWebsite="1">
                    <label>Infinite Subscriptions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Products in the catalog will be configured to renew automatically until the customer cancels the subscription.</comment>
                </field>
            </group>

            <group id="discount" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Discount</label>
                <comment>Default catalog setting for the product to determine if products purchased as pasrt fo a subscription should be offered with a flat discount.</comment>
                <field id="offer_flat_discount_status" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1">
                    <label>Offer Flat Discount</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Automatically offer a flat discount when subscribing to products.</comment>
                </field>
                <field id="discount_amount" translate="label" type="addon_text" sortOrder="20" showInDefault="1"
                       showInWebsite="1">
                    <label>Discount Amount</label>
                    <frontend_class>validate-number</frontend_class>
                    <frontend_model>TNW\Subscriptions\Block\System\Config\Form\Field\Extension\Currency</frontend_model>
                    <comment>Flat discount amount for each product.</comment>
                    <depends>
                        <field id="offer_flat_discount_status">1</field>
                    </depends>
                </field>
                <field id="discount_type" translate="label" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1">
                    <label>Discount Type</label>
                    <source_model>TNW\Subscriptions\Model\Config\Source\DiscountType</source_model>
                    <comment>Type of the flat discount.</comment>
                    <depends>
                        <field id="offer_flat_discount_status">1</field>
                    </depends>
                </field>
            </group>

            <group id="trial" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Trial</label>
                <comment>Default catalog setting for all products to determine if they should all have a trial period.</comment>
                <field id="trial_status" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1">
                    <label>Is Trial Offered</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="trial_length" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1">
                    <label>Trial Length</label>
                    <frontend_class>validate-number</frontend_class>
                    <comment>The trial length is in days by default. The unit may change from days to weeks and so on. See 'Trial Length Unit' configuration value.</comment>
                    <depends>
                        <field id="trial_status">1</field>
                    </depends>
                </field>
                <field id="trial_length_unit" translate="label" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1">
                    <label>Trial Length Unit</label>
                    <source_model>TNW\Subscriptions\Model\Config\Source\TrialLengthUnitType</source_model>
                    <comment>The unit for 'Trial Length' configuration value.</comment>
                    <depends>
                        <field id="trial_status">1</field>
                    </depends>
                </field>
                <field id="trial_price" translate="label" type="addon_text" sortOrder="40" showInDefault="1"
                       showInWebsite="1">
                    <label>Trial Price</label>
                    <frontend_class>validate-number</frontend_class>
                    <frontend_model>TNW\Subscriptions\Block\System\Config\Form\Field\Extension\Currency</frontend_model>
                    <comment>Default trial amount.</comment>
                    <depends>
                        <field id="trial_status">1</field>
                    </depends>
                </field>
                <field id="trial_start_date_type" translate="label" type="select" sortOrder="50" showInDefault="1"
                       showInWebsite="1">
                    <label>Trial Start Date</label>
                    <source_model>TNW\Subscriptions\Model\Config\Source\StartDateType</source_model>
                    <depends>
                        <field id="trial_status">1</field>
                    </depends>
                </field>
            </group>
        </section>

        <section id="tnw_subscriptions_payment_methods" translate="label" type="text" sortOrder="50"
                 showInDefault="1" showInWebsite="1">
            <label>Payment Methods</label>
            <tab>tnw_subscriptions</tab>
            <resource>TNW_Subscriptions::config_payment</resource>
            <group id="active_methods" translate="label" type="text" sortOrder="20" showInDefault="1"
                   showInWebsite="1"
                   showInStore="0">
                <label>Available Payment Methods</label>
                <comment>
                    <![CDATA[The list below includes all supported Magento payment methods which are activated in your Magento setup.
                    If you do not see a payment method you were expecting and if that payment method is enabled in your Magento store,
                    please <a href="https://powersync.biz/contacts" target="_blank">contact us.</a>]]>
                </comment>
                <frontend_model>TNW\Subscriptions\Block\Adminhtml\System\Config\PaymentMethods\ActiveMethods</frontend_model>
            </group>
        </section>

        <section id="tnw_subscriptions_customer" translate="label" type="text" sortOrder="60"
                 showInDefault="1" showInWebsite="1">
            <label>Customer Settings</label>
            <tab>tnw_subscriptions</tab>
            <resource>TNW_Subscriptions::config_customer</resource>
            <group id="profile_actions" translate="label" type="text" sortOrder="20" showInDefault="1"
                   showInWebsite="1"
                   showInStore="0">
                <label>Subscription Profile Settings</label>
                <comment>Available customer actions with subscription profile.</comment>
                <field id="can_hold" translate="label" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1">
                    <label>Can Place On Hold</label>
                    <comment>Customer can place their subscription profiles on hold without merchants assistance.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="can_cancel" translate="label" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1">
                    <label>Can Cancel</label>
                    <comment>Customer can cancel their subscription profile at any point without merchants assistance.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="until_canceled" translate="label" type="select" sortOrder="40" showInDefault="1"
                       showInWebsite="1">
                    <label>Until Canceled</label>
                    <comment>Customers will be able to create an infinite subscription, those subscription profile will run until cancelled.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
