<?xml version="1.0"?>
<!--
/**
* Copyright © 2018 TechNWeb, Inc. All rights reserved.
* See TNW_LICENSE.txt for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_success">
        <observer name="tnw_subscription_create_profile" instance="TNW\Subscriptions\Observer\QuoteSubmitSuccess\CreateProfile"/>
        <observer name="tnw_subscription_remove_items_subscription" instance="TS\Observer\QuoteSubmitSuccess\RemoveItems\Subscription"/>
        <observer name="tnw_subscription_remove_items_sale" instance="TS\Observer\QuoteSubmitSuccess\RemoveItems\Sales"/>
    </event>
</config>
