<!--
/**
 * Copyright © 2017 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<div class="tnw-subscriptions-cart__container">
    <div class="block-main">
        <!-- ko foreach: getRegion('progressBar') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- ko foreach: getRegion('nextStep') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
    <div class="block-steps" id="checkout">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- ko foreach: getRegion('steps') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
</div>
<div class="tnw-subscriptions-cart-bottom-action">
    <!-- ko foreach: getRegion('bottomNextStep') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
</div>
