.admin__field-control .admin__control-addon .custom-add-after-label {
  padding-right: 5px;
}
th.tnw_price_column {
  width: 10%;
}
.control-table-text .icon-checkmark:before {
  content: '\e62d';
  font-family: 'Admin Icons';
  font-size: 1.6rem;
}
.admin__field-complex-elements .admin__field-tooltip {
  width: auto;
}
.admin__data-grid-wrap .data-grid-th._with-tooltip > .wrapper {
  display: flex;
  justify-content: space-between;
}
.admin__data-grid-wrap .data-grid-th._with-tooltip .data-grid-cell-content {
  width: auto;
}
.admin__data-grid-wrap .data-grid-th._with-tooltip .admin__field-tooltip {
  width: auto;
  margin-top: 0;
}
.admin__data-grid-wrap .data-grid-th._with-tooltip .admin__field-tooltip .admin__field-tooltip-action:before {
  color: #eee;
}
.admin__data-grid-wrap .data-grid-th._with-tooltip .admin__field-tooltip .admin__field-tooltip-content {
  color: #41362f;
}
.tnw_billingfrequency_form_tnw_billingfrequency_form_linked_bf_linked_products_grid .admin__data-grid-wrap {
  overflow-x: unset;
}
