.long_note .admin__field-note{
    margin-bottom: 30px;
}
.long_note .admin__field-note span{
    position: absolute;
}
.container_tnw_subscr_all .admin__fieldset {
    padding-top: 0;
}
.tnw-subscriptions-tab .admin__field .admin__field-label {
    text-transform: capitalize;
}
.tnw-subscriptions-tab .admin__field .admin__field-label span {
    white-space: nowrap;
}
