.long_note .admin__field-note{
    margin-bottom: 30px;
}
.long_note .admin__field-note span{
    position: absolute;
}
.tnw-subscriptions-tab .admin__field .admin__field-label {
    text-transform: capitalize;
}
.tnw-subscriptions-tab .admin__field .admin__field-label span {
    white-space: nowrap;
}
.tnw_recurring_summary .data-grid td {
    vertical-align: middle;
}
.tnw_recurring_summary .data-grid td:last-child {
    text-align: center;
}
.product_form_product_form_subscription-options_management_modal .action-close {
    display: none;
}
