<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<fieldset class="field" data-bind="css: additionalClasses">
    <legend class="label">
        <span data-bind="text: element.label"></span>
    </legend>
    <div class="control">
        <!-- ko foreach: { data: elems, as: 'element' } -->

            <!-- ko if: element.visible() -->

                <!-- ko ifnot: (element.input_type == 'checkbox' || element.input_type == 'radio') -->
                    <!-- ko template: $parent.fieldTemplate --><!-- /ko -->
                <!-- /ko -->

                <!-- ko if: (element.input_type == 'checkbox' || element.input_type == 'radio') -->
                    <!-- ko template: element.elementTmpl --><!-- /ko -->
                <!-- /ko -->

            <!-- /ko -->

        <!-- /ko -->

        <!-- ko if: validateWholeGroup && groupError() -->
            <div class="mage-error" generated="true" data-bind="text: groupError()"></div>
        <!-- /ko -->
    </div>
</fieldset>
