<div class="pause-options">
    <div class="pause-option">
        <input type="radio" name="suspension_type" value="indefinitely" id="pause-1" checked>
        <label for="pause-1">Pause indefinitely</label>
    </div>
    <div class="pause-option">
        <input type="radio" name="suspension_type" value="billing_cycles" id="pause-2">
        <label for="pause-2">Pause for:</label>
        <input type="text" name="cycles_count" value="0" id="cycles_count">
        <label for="cycles_count">orders/payments</label>
    </div>
</div>
