<?xml version="1.0"?>
<!--
/**
* Copyright © 2018 TechNWeb, Inc. All rights reserved.
* See TNW_LICENSE.txt for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tnw_subscriptions_general>
            <general>
                <active>0</active>
            </general>
            <advanced>
                <generated_quotes_count>30</generated_quotes_count>
                <db_log_status>1</db_log_status>
                <db_log_limit>10000</db_log_limit>
                <log_object_deep>4</log_object_deep>
            </advanced>
        </tnw_subscriptions_general>
        <tnw_subscriptions_profile_options>
            <general>
                <product_price_strategy>0</product_price_strategy>
            </general>
            <past_due_profile_options>
                <attempt_count>10</attempt_count>
                <attempt_interval>1</attempt_interval>
                <grace_period>14</grace_period>
            </past_due_profile_options>
            <emails>
                <email_identity>support</email_identity>
                <comment_added>tnw_subscriptions_profile_options_emails_comment_added</comment_added>
                <profile_status_change>tnw_subscriptions_profile_options_emails_profile_status_change</profile_status_change>
                <card_expire>tnw_subscriptions_profile_options_emails_card_expire</card_expire>
                <payment_failed>tnw_subscriptions_profile_options_emails_payment_failed</payment_failed>
                <renewal>tnw_subscriptions_profile_options_emails_renewal</renewal>
                <out_of_stock>tnw_subscriptions_profile_options_emails_out_of_stock</out_of_stock>
            </emails>
            <notifications>
                <renewals>1</renewals>
                <expired_card>1</expired_card>
            </notifications>
        </tnw_subscriptions_profile_options>
        <tnw_subscriptions_product>
            <general>
                <purchase_type>3</purchase_type> <!--One-Time and Recurring-->
                <start_date_type>1</start_date_type> <!--Moment of purchase-->
                <lock_product_price_status>0</lock_product_price_status> <!--Off-->
                <unlock_preset_qty_status>0</unlock_preset_qty_status> <!--Off-->
                <savings_calculation>0</savings_calculation> <!--Off-->
                <infinite_subscriptions>0</infinite_subscriptions> <!--Off-->
            </general>
            <trial>
                <trial_status>0</trial_status> <!--Off-->
                <trial_length>15</trial_length> <!--15 days-->
                <trial_length_unit>3</trial_length_unit> <!--days-->
                <trial_start_date_type>1</trial_start_date_type> <!--Moment of purchase-->
                <trial_static_auth>1</trial_static_auth>
                <trial_static_auth_amount>1</trial_static_auth_amount>
            </trial>
            <discount>
                <offer_flat_discount_status>0</offer_flat_discount_status> <!--Off-->
                <discount_amount>10</discount_amount> <!--10%-->
                <discount_type>2</discount_type> <!--percents-->
            </discount>
        </tnw_subscriptions_product>
        <tnw_subscriptions_customer>
            <profile_actions>
                <can_hold>1</can_hold>
                <can_cancel>1</can_cancel>
                <until_canceled>1</until_canceled>
            </profile_actions>
        </tnw_subscriptions_customer>
    </default>
</config>
