<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
 -->
<!-- ko if: isPaymentMethodsAvailable() -->
<div class="items payment-methods">
    <!-- ko repeat: {foreach: paymentGroupsList, item: '$group'} -->
    <div class="payment-group">
        <!-- ko if: getRegion($group().displayArea)().length -->
        <div data-bind="i18n: getGroupTitle($group)"
             class="step-title"
             data-role="title">
        </div>
        <!-- /ko -->
        <!-- ko foreach: {data: getRegion($group().displayArea), as: 'method'} -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>
    <!-- /ko -->
</div>
<!-- /ko -->
<!-- ko ifnot: isPaymentMethodsAvailable() -->
<div class="no-payments-block" data-bind="i18n: 'No Payment Methods'"></div>
<!-- /ko -->
