<?xml version="1.0" ?>
<!--
/**
* Copyright © 2018 TechNWeb, Inc. All rights reserved.
* See TNW_LICENSE.txt for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="TNW\Subscriptions\Model\SubscriptionProfile\QuoteCreateInterface" type="TNW\Subscriptions\Model\SubscriptionProfile\Create\Quote"/>
    <preference for="TNW\Subscriptions\Model\QuoteSessionInterface" type="TNW\Subscriptions\Model\Session\Quote" />
    <type name="Magento\Checkout\CustomerData\AbstractItem">
        <plugin name="tnw_subscriptions" type="TNW\Subscriptions\Plugin\Checkout\CustomerData\AbstractItem" />
    </type>
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="add_subscription_params" type="TNW\Subscriptions\Plugin\Checkout\Model\Cart" />
    </type>
    <type name="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Payment\Form\Modifier\Vault">
        <arguments>
            <argument name="tokensConfigClass" xsi:type="string">Magento\Vault\Model\Ui\TokensConfigProvider</argument>
        </arguments>
    </type>
    <virtualType name="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Account\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="shipping_address" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Modifier\ShippingAddressModifier</item>
                    <item name="sortOrder" xsi:type="number">1</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Payment\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="checkmo" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Payment\Form\Modifier\Checkmo</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
                <item name="banktransfer" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Payment\Form\Modifier\BankTransfer</item>
                    <item name="sortOrder" xsi:type="number">11</item>
                </item>
                <item name="payflowpro" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Payment\Form\Modifier\Paypal\PaymentsPro</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
                <item name="braintree" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Payment\Form\Modifier\Braintree</item>
                    <item name="sortOrder" xsi:type="number">25</item>
                </item>
                <item name="tnw_stripe" xsi:type="array">
                    <item name="class" xsi:type="string">TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Create\Payment\Form\Modifier\Stripe</item>
                    <item name="sortOrder" xsi:type="number">30</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="TNW\Subscriptions\Model\SubscriptionProfile\DataProvider\Modal\SummaryPaymentMethodForm">
        <arguments>
            <argument name="requestProfileIdField" xsi:type="string">entity_id</argument>
        </arguments>
    </type>
    <type name="TNW\Subscriptions\Block\Subscription\Summary\Payment\Details">
        <arguments>
            <argument name="requestProfileIdField" xsi:type="string">entity_id</argument>
        </arguments>
    </type>
    <type name="Magento\Wishlist\CustomerData\Wishlist">
        <plugin name="subscriptions_reordered_products"
                type="TNW\Subscriptions\Plugin\CustomerData\Wishlist"
                sortOrder="100"
                disabled="false"/>
    </type>
    <type name="TNW\Subscriptions\Ui\DataProvider\SubscriptionProfile\Edit\Modifier\EditProduct\Attributes">
        <arguments>
            <argument name="editAllow" xsi:type="boolean">false</argument>
        </arguments>
    </type>
    <type name="TNW\Subscriptions\Observer\LoadCustomerQuote">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">TS\Model\Checkout\Proxy\Session</argument>
        </arguments>
    </type>
    <type name="TNW\Subscriptions\Observer\UnsetAllQuote">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">TS\Model\Checkout\Proxy\Session</argument>
        </arguments>
    </type>
    <virtualType name="TNW\Subscriptions\Model\SubscriptionProfile\FrontendMessageHistoryFormatter" type="TNW\Subscriptions\Model\SubscriptionProfile\MessageHistoryFormatter">
        <arguments>
            <argument name="url" xsi:type="object">Magento\Framework\Url</argument>
            <argument name="matches" xsi:type="array">
                <item name="productUrl" xsi:type="string">catalog/product/view/id/%d</item>
                <item name="orderUrl" xsi:type="string">sales/order/view/order_id/%d</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="TNW\Subscriptions\Model\SubscriptionProfile\MessageHistory">
        <arguments>
            <argument name="messageFormatter" xsi:type="object">TNW\Subscriptions\Model\SubscriptionProfile\FrontendMessageHistoryFormatter</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\Message\MessageConfigurationsPool">
        <arguments>
            <argument name="configurationsMap" xsi:type="array">
                <item name="addHtmlMessage" xsi:type="array">
                    <item name="renderer" xsi:type="const">\Magento\Framework\View\Element\Message\Renderer\BlockRenderer::CODE</item>
                    <item name="data" xsi:type="array">
                        <item name="template" xsi:type="string">TNW_Subscriptions::messages/addStatusChangeMessage.phtml</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="tnw_subscriptions_checkout_config_provider" type="TNW\Subscriptions\Plugin\Checkout\Model\QuoteGroupConfig" />
    </type>
    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="tnw_subscriptions_cart_customer_data_group_config" type="TNW\Subscriptions\Plugin\Checkout\Model\QuoteGroupConfig" />
    </type>
</config>
