<div class="block-step">
    <!-- ko if: getActiveIndex() == productsStepIndex -->
        <!-- ko foreach: getRegion('plans') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    <!--/ko-->

    <!-- ko if: getActiveIndex() == registrationStepIndex -->
        <!-- ko foreach: getRegion('registration') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    <!--/ko-->

    <!-- ko if: getActiveIndex() == addressStepIndex-->
        <!-- ko foreach: getRegion('address') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    <!--/ko-->

    <!-- ko if: getActiveIndex() == paymentStepIndex -->
        <!-- ko foreach: getRegion('payment') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    <!--/ko-->

    <!-- ko if: getActiveIndex() == thankYouStepIndex -->
        <!-- ko foreach: getRegion('thank_you') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    <!--/ko-->
</div>
