<div class="tnw-subscriptions-cart_subscription-plans__container">
    <div class="title">
        <h2 data-bind="i18n: 'Subscription plan #'"></h2>
    </div>
    <div class="content">
        <div class="tnw-subscriptions-cart_subscription-plan-items">
            <!-- ko foreach: items -->
            <div class="item" data-bind="visible: isSelected() || !$parent.isPlanSelected()">
                <div class="item-content__container">
                    <div class="block-description">
                        <strong class="title" data-bind="text: storefront_title"></strong>
                        <!-- ko if: storefront_description -->
                        <div class="description">
                            <p data-bind="html: storefront_description"></p>
                        </div>
                        <!-- /ko -->
                    </div>

                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>
