<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_convert_order_item_to_quote_item">
        <observer name="tnw_subscriptions_initial_fees"
                  instance="TNW\Subscriptions\Observer\SalesEventOrderItemToQuoteItemObserver"
                  shared="false" />
    </event>
    <event name="magento_catalog_api_data_productinterface_delete_after">
        <observer name="tnw_subscription" instance="TNW\Subscriptions\Observer\ClearDbProductInterfaceDeleteAfter" />
    </event>
</config>
