<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="TNW_Subscriptions::top_level" module="TNW_Subscriptions" resource="TNW_Subscriptions::tnw_subscriptions_root"
             sortOrder="49" title="mPower" translate="title"
             dependsOnModule="TNW_Subscriptions"
             />

        <!-- Subscription -> Operations -->
        <add id="TNW_Subscriptions::tnw_subscriptions_operations" title="Operations" translate="title"
             module="TNW_Subscriptions" parent="TNW_Subscriptions::top_level" sortOrder="10"
             resource="TNW_Subscriptions::tnw_subscriptions_operations"
             dependsOnModule="TNW_Subscriptions"
             />
        <!-- Sales -> Operations -> Subscription Profiles - Subscription profile grid -->
        <add id="TNW_Subscriptions::tnw_subscriptions_subscription_profile" title="Subscription Profiles"
             translate="title" module="TNW_Subscriptions" sortOrder="20" parent="TNW_Subscriptions::tnw_subscriptions_operations"
             action="tnw_subscriptions/subscriptionprofile/index" resource="TNW_Subscriptions::SubscriptionProfile"/>
        <!-- Sales -> Operations -> Processing Queue - Processing Queue grid -->
        <add id="TNW_Subscriptions::tnw_subscriptions_processing_queue" title="Processing Queue"
             translate="title" module="TNW_Subscriptions" sortOrder="30" parent="TNW_Subscriptions::tnw_subscriptions_operations"
             action="tnw_subscriptions/subscriptionprofile_queue/index" resource="TNW_Subscriptions::tnw_subscriptions_queue"/>

        <!-- Subscription -> Configuration -->
        <add id="TNW_Subscriptions::tnw_subscriptions_settings" title="Configuration" translate="title"
             module="TNW_Subscriptions" parent="TNW_Subscriptions::top_level" sortOrder="60"
             resource="TNW_Subscriptions::tnw_subscriptions_settings"/>
        <!-- Subscription -> Configuration -> General Configuration -->
        <add id="TNW_Subscriptions::tnw_subscriptions_config_general" title="General" module="TNW_Subscriptions"
             action="adminhtml/system_config/edit/section/tnw_subscriptions_general" sortOrder="65"
             parent="TNW_Subscriptions::tnw_subscriptions_settings" resource="TNW_Subscriptions::general_config"/>
        <!-- Subscription -> Configuration -> Billing Frequencies - Billing Frequencies grid -->
        <add id="TNW_Subscriptions::tnw_subscriptions_billing_frequencies" title="Billing Frequencies"
             translate="title" module="TNW_Subscriptions" sortOrder="70" parent="TNW_Subscriptions::tnw_subscriptions_settings"
             action="tnw_subscriptions/billingfrequency/index" resource="TNW_Subscriptions::BillingFrequency"/>
        <!-- Subscription -> Configuration -> Subscription Profiles -->
        <add id="TNW_Subscriptions::tnw_subscriptions_config_profile_options" title="Subscription Profiles" module="TNW_Subscriptions"
             action="adminhtml/system_config/edit/section/tnw_subscriptions_profile_options" sortOrder="72"
             parent="TNW_Subscriptions::tnw_subscriptions_settings" resource="TNW_Subscriptions::config_profile_options"/>
        <add id="TNW_Subscriptions::tnw_subscriptions_config_profile_notification" title="Notifications" module="TNW_Subscriptions"
             action="adminhtml/system_config/edit/section/tnw_subscriptions_profile_notification" sortOrder="73"
             parent="TNW_Subscriptions::tnw_subscriptions_settings" resource="TNW_Subscriptions::config_profile_notification"/>
        <!-- Subscription -> Configuration -> Products -->
        <add id="TNW_Subscriptions::tnw_subscriptions_config_product" title="Products" module="TNW_Subscriptions"
             action="adminhtml/system_config/edit/section/tnw_subscriptions_product" sortOrder="74"
             parent="TNW_Subscriptions::tnw_subscriptions_settings" resource="TNW_Subscriptions::product_settings"/>
        <!-- Subscription -> Configuration -> Customers -->
        <add id="TNW_Subscriptions::tnw_subscriptions_config_customer" title="Customers" module="TNW_Subscriptions"
             action="adminhtml/system_config/edit/section/tnw_subscriptions_customer" sortOrder="76"
             parent="TNW_Subscriptions::tnw_subscriptions_settings" resource="TNW_Subscriptions::customer_settings"/>

        <!-- Subscription -> Attributes -->
        <add id="TNW_Subscriptions::tnw_subscriptions_attributes" title="Custom Attributes" translate="title"
             module="TNW_Subscriptions" parent="TNW_Subscriptions::top_level" sortOrder="100"
             resource="TNW_Subscriptions::tnw_subscriptions_attributes"/>
        <!-- Subscription -> Attributes -> Subscription - manage profile attributes -->
        <add id="TNW_Subscriptions::tnw_subscriptions_attributes_subscription" title="Subscription Profiles"
             translate="title" module="TNW_Subscriptions" sortOrder="110" parent="TNW_Subscriptions::tnw_subscriptions_attributes"
             action="tnw_subscriptions/subscriptionprofile_attribute/index" resource="TNW_Subscriptions::SubscriptionProfile_attributes"/>
        <!-- Subscription -> Attributes -> Subscription Product - manage profile product attributes -->
        <add id="TNW_Subscriptions::tnw_subscriptions_attributes_subscription_profile" title="Subscription Profile Products"
             translate="title" module="TNW_Subscriptions" sortOrder="120" parent="TNW_Subscriptions::tnw_subscriptions_attributes"
             action="tnw_subscriptions/subscriptionprofileproduct_attribute/index" resource="TNW_Subscriptions::ProductSubscriptionProfile_attributes"/>

        <!-- Sales -> Operations -> Subscriptions - Subscription profile grid -->
        <add id="TNW_Subscriptions::tnw_subscriptions_operations_subscription_profile" title="Subscriptions"
             translate="title" module="TNW_Subscriptions" sortOrder="5" parent="Magento_Sales::sales_operation"
             action="tnw_subscriptions/subscriptionprofile/index" resource="TNW_Subscriptions::SubscriptionProfile"/>

        <!-- Sales -> Recurring -->
        <add id="TNW_Subscriptions::tnw_subscriptions_recurring" title="Recurring" translate="title"
             module="TNW_Subscriptions" parent="Magento_Sales::sales" sortOrder="50"
             resource="TNW_Subscriptions::recurring"
             dependsOnModule="TNW_Subscriptions"
             />
        <!-- Sales -> Recurring -> Subscriptions - Subscription profile grid -->
        <add id="TNW_Subscriptions::tnw_subscriptions_recurring_subscription_profile" title="Subscriptions"
             translate="title" module="TNW_Subscriptions" sortOrder="10" parent="TNW_Subscriptions::tnw_subscriptions_recurring"
             action="tnw_subscriptions/subscriptionprofile/index" resource="TNW_Subscriptions::SubscriptionProfile"
             dependsOnModule="TNW_Subscriptions"
             />
        <!-- Sales -> Recurring -> Billing Frequencies - Billing Frequencies grid -->
        <add id="TNW_Subscriptions::tnw_subscriptions_recurring_billing_frequencies" title="Billing Frequencies"
             translate="title" module="TNW_Subscriptions" sortOrder="20" parent="TNW_Subscriptions::tnw_subscriptions_recurring"
             action="tnw_subscriptions/billingfrequency/index" resource="TNW_Subscriptions::BillingFrequency"
             dependsOnModule="TNW_Subscriptions"
             />
        <!-- Sales -> Recurring -> Processing Queue - Processing Queue grid -->
        <add id="TNW_Subscriptions::tnw_subscriptions_recurring_processing_queue" title="Processing Queue"
             translate="title" module="TNW_Subscriptions" sortOrder="30" parent="TNW_Subscriptions::tnw_subscriptions_recurring"
             action="tnw_subscriptions/subscriptionprofile_queue/index" resource="TNW_Subscriptions::tnw_subscriptions_queue"
             dependsOnModule="TNW_Subscriptions"
             />

        <!-- Stores -> Attributes -> Subscription - manage profile attributes -->
        <add id="TNW_Subscriptions::tnw_subscriptions_stores_attributes_subscription" title="Subscription"
             translate="title" module="TNW_Subscriptions" sortOrder="100" parent="Magento_Backend::stores_attributes"
             action="tnw_subscriptions/subscriptionprofile_attribute/index" resource="TNW_Subscriptions::SubscriptionProfile_attributes"
             dependsOnModule="TNW_Subscriptions"
             />
        <!-- Stores -> Attributes -> Subscription Product - manage profile product attributes -->
        <add id="TNW_Subscriptions::tnw_subscriptions_stores_attributes_subscription_profile" title="Subscription Product"
             translate="title" module="TNW_Subscriptions" sortOrder="110" parent="Magento_Backend::stores_attributes"
             action="tnw_subscriptions/subscriptionprofileproduct_attribute/index" resource="TNW_Subscriptions::ProductSubscriptionProfile_attributes"
             dependsOnModule="TNW_Subscriptions"
             />

        <add id="TNW_Subscriptions::report_subscribe_customer_products"
             title="By Subscribe Products"
             translate="title"
             sortOrder="30"
             module="TNW_Subscriptions"
             parent="Magento_Reports::report_customers"
             action="tnw_subscriptions/report/customerProducts"
             resource="TNW_Subscriptions::report_subscribe_customer_products"/>

        <add id="TNW_Subscriptions::report_sales_subscriptions"
             title="Subscriptions"
             translate="title"
             sortOrder="30"
             module="TNW_Subscriptions"
             parent="Magento_Reports::report_salesroot"
             action="tnw_subscriptions/report_sales/subscriptions"
             resource="TNW_Subscriptions::report_sales_subscriptions"/>

        <add id="TNW_Subscriptions::report_subscribe_customer_billing_frequencies"
             title="By Billing Frequencies"
             translate="title"
             sortOrder="40"
             module="TNW_Subscriptions"
             parent="Magento_Reports::report_customers"
             action="tnw_subscriptions/report/customerBillingFrequencies"
             resource="TNW_Subscriptions::report_subscribe_customer_billing_frequencies"/>

        <add id="TNW_Subscriptions::report_subscribe_product_customers"
             title="By Subscribe Customers"
             translate="title"
             sortOrder="30"
             module="TNW_Subscriptions"
             parent="Magento_Reports::report_products"
             action="tnw_subscriptions/report/productCustomers"
             resource="TNW_Subscriptions::report_subscribe_product_customers"/>

        <add id="TNW_Subscriptions::report_billing_frequencies"
             title="Billing Frequencies"
             translate="title"
             module="TNW_Subscriptions"
             sortOrder="50"
             parent="Magento_Reports::report"
             resource="TNW_Subscriptions::billing_frequencies"/>

        <add id="TNW_Subscriptions::report_subscribe_billing_frequency_customers"
             title="By Subscribe Customers"
             translate="title"
             sortOrder="10"
             module="TNW_Subscriptions"
             parent="TNW_Subscriptions::report_billing_frequencies"
             action="tnw_subscriptions/report/billingFrequencyCustomers"
             resource="TNW_Subscriptions::report_subscribe_billing_frequency_customers"/>

        <add id="TNW_Subscriptions::tools"
             title="Tools"
             module="TNW_Subscriptions"
             sortOrder="110"
             parent="TNW_Subscriptions::top_level"
             resource="TNW_Subscriptions::tools"/>

        <add id="TNW_Subscriptions::tools_message"
             action="tnw_subscriptions/message/view"
             title="Message Log"
             translate="title"
             module="TNW_Subscriptions"
             sortOrder="10"
             parent="TNW_Subscriptions::tools"
             resource="TNW_Subscriptions::tools_message_view"/>
    </menu>
</config>
