<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<li id="payment" class="checkout-payment" data-bind="fadeVisible: isVisible">
    <div class="step-title" data-role="title" data-bind="i18n: 'Payment Address'"></div>
    <div id="checkout-step-payment" class="step-content" data-role="content">
        <!-- ko if: (quoteIsVirtual) -->
            <!-- ko foreach: getRegion('customer-email') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->

        <div class="checkout-billing-address">
            <div class="billing-address-same-as-shipping-block field choice" data-bind="visible: canUseShippingAddress()">
                <input id="billing-address-same-as-shipping-shared" type="checkbox" name="billing-address-same-as-shipping"
                       data-bind="checked: isAddressSameAsShipping, click: useShippingAddress"/>
                <label for="billing-address-same-as-shipping-shared">
                    <span data-bind="i18n: 'My billing and shipping address are the same'"></span>
                </label>
            </div>

            <div class="billing-address-details" data-bind="if: isAddressDetailsVisible() && currentBillingAddress()">
                <!-- ko text: currentBillingAddress().prefix --><!-- /ko --> <!-- ko text: currentBillingAddress().firstname --><!-- /ko --> <!-- ko text: currentBillingAddress().middlename --><!-- /ko -->
                <!-- ko text: currentBillingAddress().lastname --><!-- /ko --> <!-- ko text: currentBillingAddress().suffix --><!-- /ko --><br/>
                <!-- ko text: currentBillingAddress().street --><!-- /ko --><br/>
                <!-- ko text: currentBillingAddress().city --><!-- /ko -->, <span data-bind="html: currentBillingAddress().region"></span> <!-- ko text: currentBillingAddress().postcode --><!-- /ko --><br/>
                <!-- ko text: getCountryName(currentBillingAddress().countryId) --><!-- /ko --><br/>
                <!-- ko if: (currentBillingAddress().telephone) -->
                <a data-bind="text: currentBillingAddress().telephone, attr: {'href': 'tel:' + currentBillingAddress().telephone}"></a>
                <!-- /ko --><br/>
                <!-- ko foreach: { data: currentBillingAddress().customAttributes, as: 'element' } -->
                    <!-- ko foreach: { data: Object.keys(element), as: 'attribute' } -->
                        <!-- ko if: (typeof element[attribute] === "object") -->
                            <!-- ko text: element[attribute].value --><!-- /ko -->
                        <!-- /ko -->
                        <!-- ko if: (typeof element[attribute] === "string") -->
                            <!-- ko text: element[attribute] --><!-- /ko -->
                        <!-- /ko --><br/>
                    <!-- /ko -->
                <!-- /ko -->
                <button type="button"
                        class="action action-edit-address"
                        data-bind="visible: !isAddressSameAsShipping(), click: editAddress">
                    <span data-bind="i18n: 'Edit'"></span>
                </button>
            </div>

            <fieldset class="fieldset" data-bind="visible: !isAddressDetailsVisible()">
                <div class="field field-select-billing">
                    <label class="label"><span data-bind="i18n: 'My billing and shipping address are the same'"></span></label>
                    <div class="control" data-bind="if: (addressOptions.length > 1)">
                        <select class="select" name="billing_address_id" data-bind="
                            options: addressOptions,
                            optionsText: addressOptionsText,
                            value: selectedAddress,
                            event: {change: onAddressChange(selectedAddress())};
                        "></select>
                    </div>
                </div>
                <div class="billing-address-form" data-bind="fadeVisible: isAddressFormVisible">
                    <!-- ko foreach: getRegion('before-fields') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                    <form data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
                        <fieldset id="billing-new-address-form" class="fieldset address">
                            <!-- ko foreach: getRegion('additional-fieldsets') -->
                                <!-- ko template: getTemplate() --><!-- /ko -->
                            <!--/ko-->
                            <!-- ko if: (isCustomerLoggedIn && customerHasAddresses) -->
                            <div class="choice field">
                                <input type="checkbox" class="checkbox" id="billing-save-in-address-book" data-bind="checked: saveInAddressBook" />
                                <label class="label" for="billing-save-in-address-book">
                                    <span data-bind="i18n: 'Save in address book'"></span>
                                </label>
                            </div>
                            <!-- /ko -->
                        </fieldset>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>
</li>

<!--Payment method template-->
<li id="payment-method" class="checkout-payment-method" data-bind="fadeVisible: isVisible">
    <div class="step-title" data-role="title" data-bind="i18n: 'Payment Information'"></div>
    <div id="checkout-step-payment-method" class="step-content" data-role="content">
        <form id="co-payment-form" class="form payments" novalidate="novalidate">
            <input data-bind='attr: {value: getFormKey()}' type="hidden" name="form_key"/>
            <fieldset class="fieldset">
                <legend class="legend">
                    <span data-bind="i18n: 'Payment Information'"></span>
                </legend><br />
                <!-- ko foreach: getRegion('beforeMethods') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->
                <div id="checkout-payment-method-load" class="opc-payment" data-bind="visible: isPaymentMethodsAvailable">
                    <!-- ko foreach: getRegion('payment-methods-list') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    <!-- /ko -->
                </div>
                <div class="no-quotes-block" data-bind="visible: isPaymentMethodsAvailable() == false">
                    <!-- ko i18n: 'No Payment method available.'--><!-- /ko -->
                </div>
                <!-- ko foreach: getRegion('afterMethods') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!-- /ko -->
            </fieldset>
        </form>
    </div>
</li>
