& when (@media-common = true) {
  .tnw-subscriptions-cart__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    .block-main {
      -webkit-flex: 3 1 auto;
      -ms-flex: 3 1 auto;
      flex: 3 1 auto;
    }

    .block-sidebar {
      -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      max-width: 300px;
      margin-left: 15px;
    }

    .main-sidebar {
      background-color: #f0f0f0;
      padding: 20px;
      font-size: 1.4rem;

      > div {
        margin: 0 0 20px 0;
      }

      .cart-items .list {
        list-style: none none;
        padding: 4px 0 0 0;
      }

      .cart-items .list._expanded {
        border-bottom: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
      }

      .cart-items .list._expanded li {
        clear: both;
      }

      .cart-items .product-item-details {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-between;
        justify-content: space-between;
      }

      .cart-items .block-product-actions .action.delete:before {
        -webkit-font-smoothing: antialiased;
        font-size: 18px;
        line-height: 20px;
        color: #8f8f8f;
        content: @icon-trash;
        font-family: @icons__font-name;
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        text-align: center;
      }

      .cart-items .block-product-actions .action.delete._disabled::before {
        color: #e4e4e4;
      }

      .cart-items .block-product-actions .action.delete > span {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      .cart-items .product-item-name {
        font-weight: 600;
      }

      .cart-items .product-item-options,
      .plan-summary .plan-summary-info {
        font-size: 1.3rem;
        padding: 10px 0 0 0;
      }

      .content {
        margin: 20px 0 0 0;

        dt.label {
          float: left;
          width: 70%;
          font-weight: 500;
        }

        dd.value {
          margin-left: 70%;
          text-align: right;
        }

        dt.label.qty {
          width: 50%;
          padding: 4px 0 0 0;
        }

        dd.value.qty {
          margin-left: 50%;
        }

        dt.label.start {
          width: 50%;
        }

        dd.value.start {
          margin-left: 50%;
        }

        dd.value.start .calendar:after {
          margin: 0 0 0 -25px;
          font-family: @icons__font-name;
          font-size: 16px;
          content: @icon-calendar;
        }

        dd.value.start .calendar input {
          margin: -4px 0 0 0;
          width: calc(~'100% - 25px');
        }

        dt.label.repeat {
          width: 50%;
        }

        dd.value.repeat {
          margin-left: 50%;
        }
      }

      .cart-items .product-item-options .value.qty > input {
        text-align: center;
        width: 40px;
      }

      .cart-items .update-cart-item {
        margin: 0 0 4px 4px;
      }

      .subtotal {
        font-size: 2.2rem;
        font-weight: 600;
        text-align: right;
      }

      .actions .action.primary.checkout {
        line-height: 2.2rem;
        padding: 14px 17px;
        font-size: 1.8rem;
        width: 100%;
        display: block;
      }

      .notice {
        font-size: 1.3rem;
        color: #9c221e;
      }

      .title {
        font-weight: 500;
        font-size: 1.5rem;
        color: #333333;
      }
    }

    .select-action.next-step {
      padding-bottom: 10%;
      height: 45px;

      .action.primary {
        width: 100%;
        height: 100%;
      }
    }
  }

  .tnw-subscriptions-cart__progress-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    counter-reset: i;
    padding-left: 0;

    .progress-bar_item {
      margin: 0 0 10px;
      width: 25%;
      display: inline-block;
      position: relative;
      text-align: center;
      vertical-align: top;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
    }

    .progress-bar_item:before {
      background: #e4e4e4;
      top: 17px;
      transition: background 0.3s;
      content: '';
      height: 7px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    .progress-bar_item._active > span:before,
    .progress-bar_item._active:before {
      background: #ff5501;
    }

    .progress-bar_item:first-child:before {
      left: 50%;
      width: 50%;
    }

    .progress-bar_item:last-child:before {
      left: 0;
      width: 50%;
    }

    .progress-bar_item > span {
      display: inline-block;
      padding-top: 45px;
      width: 100%;
      word-wrap: break-word;
      color: #e4e4e4;
      font-weight: 300;
      font-size: 1.4rem;
    }

    .progress-bar_item._active > span {
      color: #333333;
    }

    .progress-bar_item._complete > span {
      color: #1979c3;
    }

    .progress-bar_item._complete > span:before,
    .progress-bar_item._complete:before {
      background: #1979c3;
    }

    .progress-bar_item > span:before,
    .progress-bar_item > span:after {
      background: #e4e4e4;
      height: 38px;
      margin-left: -19px;
      transition: background 0.3s;
      width: 38px;
      border-radius: 50%;
      content: '';
      left: 50%;
      position: absolute;
      top: 0;
    }

    .progress-bar_item > span:after {
      background: #ffffff;
      height: 26px;
      margin-left: -13px;
      top: 6px;
      width: 26px;
      content: counter(i);
      counter-increment: i;
      color: #333333;
      font-weight: 600;
      font-size: 1.8rem;
    }
  }
}

@media (max-width: 640px) {
  .tnw-subscriptions-cart__container {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;

    .block-sidebar {
      margin-left: 0;
      max-width: 100%;
    }
  }

  .tnw-subscriptions-cart_subscription-plan-items > .item {
    .item-content__container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column
    }
  }

  .tnw-subscriptions-cart_subscription-plan-items.wide > .item {
    .item-content__container {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;

      .block-description {
        flex: 0 0 auto;
      }

      .block-details {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
      }
    }
  }
}
