// /**
// * Copyright © 2017 TechNWeb, Inc. All rights reserved.
// * See TNW_LICENSE.txt for license details.
// */

@icons-subscription__font-name: 'luma-icons';

@icon-warning-subscription__content: '\E602';
@icon-active-subscription__content: '\E610';