<!--
/**
 * Copyright © 2018 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<div class="grouped-subscription-wrapper">
    <table class="table data" id="subscription-super-product-table">
        <caption class="table-caption" translate="'Grouped product items'"></caption>
        <thead>
            <tr>
                <th class="col item" scope="col" translate="'Product Name'"></th>
                <th class="col frequency" scope="col" translate="'Frequency'"></th>
                <th class="col qty" scope="col" translate="'Qty'"></th>
                <th class="col trial" scope="col" translate="'Trial'" data-bind="visible: hasTrialStatus"></th>
            </tr>
        </thead>
        <tbody each="data: subscriptionProducts, as: 'product'">
            <tr class="first-row">
                <td class="col item">
                    <strong class="product-item-name" text="product.name"></strong>
                </td>
                <!-- ko if: $parent.canSubscribe(product) -->
                <td class="col frequency" if="product.is_salable">
                    <select class="required"
                            data-bind="
                            options: $parent.getFrequencyOptions(product),
                            optionsText: 'label',
                            optionsValue: 'value',
                            value: product.selectedFrequency,
                            attr:{name: $parent.getFieldName(product, 'billing_frequency')},
                            event: { change: $parent.frequencyChanged.bind($parent) }">
                    </select>
                </td>
                <td class="col qty" if="product.is_salable">
                    <div class="control qty">
                        <input data-bind="value: $parent.getDefaultSubscribeQty(product),
                                attr:{
                                    readonly: $parent.getIsQtyPreset(product),
                                    name: $parent.getFieldName(product, 'subscribe_qty'),
                                    title: $t('Qty'),
                                    'data-validate': $parent.getQtyValidators(product)
                                }"
                               type="number"
                               class="input-text qty"/>
                    </div>
                </td>
                <td class="col trial" if="product.is_salable && $parent.hasTrialStatus">
                    <div class="control trial">
                        <input if="$parent.canSkipTrial(product)"
                               data-bind="attr:{
                                    name: $parent.getFieldName(product, 'use_trial'),
                                    disabled: !$parent.canSkipTrial(product)
                               },
                               checked: product.useTrial"
                               type="checkbox"
                               value="1"
                               class="input-text trial"/>
                        <input ifnot="$parent.canSkipTrial(product)"
                               data-bind="attr:{
                                    name: $parent.getFieldName(product, 'use_trial')
                                }"
                               value="1"
                               type="hidden"/>
                    </div>
                </td>
                <td class="col unavailable" ifnot="product.is_salable"
                    data-bind="attr: {'colspan': $parent.hasTrialStatus ? 3 : 2}">
                    <span translate="'Out of stock'"></span>
                </td>
                <!-- /ko -->
                <!-- ko ifnot: $parent.canSubscribe(product) -->
                    <td class="col no-subscription" data-bind="attr: {'colspan': $parent.hasTrialStatus ? 3 : 2}">
                        <span translate="'Subscription unavailable'"></span>
                    </td>
                <!-- /ko -->
            </tr>
            <tr class="second-row">
            <!-- ko if: $parent.canSubscribe(product) -->
                <td class="col item" data-bind="attr: {'colspan': $parent.hasTrialStatus ? 4 : 3}">
                    <span class="subscription-price" html="$parent.getSubscriptionPrice(product)"></span>,
                    <span class="period-label" translate="'until canceled'" if="$parent.isInfinite(product)"></span>
                    <a ifnot="$parent.isInfinite(product)"
                       class="period-label trigger"
                       href="#"
                       data-bind="attr: {'data-picker-trigger-id': 'period-picker-trigger-' + product.id}"
                       text="$parent.getTermLabel(product)"></a>

                    <span class="start-on-label" translate="'starting'"></span>
                    <span class="start-on-label"
                          ifnot="$parent.isEditableStartOn(product)"
                          text="product.startOnDateAlt"></span>
                    <a class="start-on-label"
                       href="#"
                       if="$parent.isEditableStartOn(product)"
                       data-bind="attr: {'data-picker-trigger-id': 'date-picker-trigger-' + product.id}"
                       text="product.startOnDateAlt"></a>

                    <div class="start-on-picker-wrapper"
                         if="$parent.isEditableStartOn(product)"
                         data-bind="attr: {'data-picker-id': 'date-picker-' + product.id}">
                        <div class="start-on-picker" data-bind="'mageInit':{
                            'dropdownDialog': {
                                'appendTo': '[data-picker-id=date-picker-' + product.id + ']',
                                'triggerTarget':'[data-picker-trigger-id=date-picker-trigger-' + product.id  + ']',
                                'timeout': 2000,
                                'closeOnMouseLeave': true,
                                'closeOnClickOutside': false,
                                'closeOnEscape': true,
                                'autoOpen': false,
                                'triggerClass': 'active',
                                'parentClass': 'active',
                                'buttons': []
                            },
                            'calendar': {
                                showsTime: false,
                                dateFormat: $parent.dateFormat,
                                showOn: 'both',
                                minDate: $parent.minStartOn,
                                onSelect: $parent.onDateSelect.bind(product)
                            }
                        }">
                        </div>
                    </div>
                    <input type="hidden"
                           data-bind="attr:{name: $parent.getFieldName(product, 'start_on')}"
                           ko-value="product.startOnDate"/>
                    <div class="period-picker-wrapper"
                         data-bind="attr: {'data-picker-id': 'period-picker-' + product.id}">
                        <div class="period-picker" data-bind="'mageInit':{
                        'dropdownDialog': {
                            'appendTo': '[data-picker-id=period-picker-' + product.id + ']',
                            'triggerTarget':'[data-picker-trigger-id=period-picker-trigger-' + product.id  + ']',
                            'timeout': 2000,
                            'closeOnMouseLeave': true,
                            'closeOnEscape': true,
                            'autoOpen': false,
                            'triggerClass': 'active',
                            'parentClass': 'active',
                            'buttons': []
                        }}">
                            <div>
                                <input type="radio" value="1"
                                       ko-checked="product.term"
                                       data-bind="attr:{
                                            name: $parent.getFieldName(product, 'term'),
                                            id: $parent.getFieldName(product, 'term')+'1'
                                       }"/>
                                <label class="label" data-bind="attr:{for: $parent.getFieldName(product, 'term')+'1'}">
                                    <span translate="'Until canceled'"></span>
                                </label>
                            </div>
                            <div>
                                <input type="radio" value="0"
                                       ko-checked="product.term"
                                       data-bind="attr:{
                                            name: $parent.getFieldName(product, 'term'),
                                            id: $parent.getFieldName(product, 'term')+'0'
                                       }"/>
                                <label class="label" data-bind="attr:{for: $parent.getFieldName(product, 'term')+'0'}">
                                    <span translate="'Stop after'"></span>
                                    <input type="number"
                                           name="period"
                                           class="input-text qty"
                                           data-validate='{"required-number":true, "validate-number-range":"2-9999999999"}'
                                           ko-value="product.period"
                                           data-bind="attr:{name: $parent.getFieldName(product, 'period')}"/>
                                    <span translate="'payment(s)'"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </td>
            <!-- /ko -->
            </tr>
        </tbody>
        <tbody>
    </table>
</div>
<button type="submit" id="product-subscribe-button" class="action primary tocart">
    <span data-role="button-text" text="buttonLabel"></span>
</button>
