<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="TNW_Subscriptions::config_general" title="TNW Subscriptions Config General"
                          sortOrder="100"/>
                <resource id="TNW_Subscriptions::config_profile_options" title="TNW Subscriptions Config Profile Options"
                          sortOrder="200"/>
                <resource id="TNW_Subscriptions::config_product" title="TNW Subscriptions Config Product"
                          sortOrder="300"/>
                <resource id="TNW_Subscriptions::config_payment" title="TNW Subscriptions Payment Product"
                          sortOrder="500"/>
                <resource id="TNW_Subscriptions::config_customer" title="TNW Subscriptions Customer"
                          sortOrder="600"/>
                <resource id="TNW_Subscriptions::BillingFrequency" sortOrder="10" title="BillingFrequency">
                    <resource id="TNW_Subscriptions::BillingFrequency_edit" sortOrder="20"
                              title="Edit BillingFrequency"/>
                    <resource id="TNW_Subscriptions::BillingFrequency_save" sortOrder="30"
                              title="Save BillingFrequency"/>
                    <resource id="TNW_Subscriptions::BillingFrequency_delete" sortOrder="40"
                              title="Delete BillingFrequency"/>
                </resource>
                <resource id="TNW_Subscriptions::SubscriptionProfile" sortOrder="10" title="Subscription Profile"
                          translate="title">
                    <resource id="TNW_Subscriptions::SubscriptionProfile_edit" sortOrder="10"
                              title="Edit SubscriptionProfile"
                              translate="title"/>
                    <resource id="TNW_Subscriptions::SubscriptionProfile_save" sortOrder="20"
                              title="Save SubscriptionProfile"
                              translate="title"/>
                    <resource id="TNW_Subscriptions::SubscriptionProfile_attributes" sortOrder="30"
                              title="Attributes"
                              translate="title"/>
                </resource>
                <resource id="TNW_Subscriptions::ProductSubscriptionProfile" sortOrder="10"
                          title="Product Subscription Profile"
                          translate="title">
                    <resource id="TNW_Subscriptions::ProductSubscriptionProfile_attributes" sortOrder="10"
                              title="Attributes"
                              translate="title" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
