<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="TNW_Subscriptions::config_general" title="TNW Subscriptions Config General" sortOrder="100"/>
                <resource id="TNW_Subscriptions::config_product" title="TNW Subscriptions Config Product" sortOrder="200"/>
            </resource>
        </resources>
    </acl>
</config>
