<?xml version="1.0" ?>
<!--
/**
* Copyright © 2017 TechNWeb, Inc. All rights reserved.
* See TNW_LICENSE.txt for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="TNW\Subscriptions\Model\ResourceModel\BillingFrequency\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tnw_subscriptions_billing_frequency</argument>
            <argument name="resourceModel"
                      xsi:type="string">TNW\Subscriptions\Model\ResourceModel\BillingFrequency\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="tnw_billingfrequency_grid_data_source"
                      xsi:type="string">TNW\Subscriptions\Model\ResourceModel\BillingFrequency\Grid\Collection</item>
                <item name="tnw_productbillingfrequency_grid_data_source"
                      xsi:type="string">TNW\Subscriptions\Model\ResourceModel\ProductBillingFrequency\Grid\Collection</item>
                <item name="tnw_subscriptionprofile_grid_data_source"
                      xsi:type="string">TNW\Subscriptions\Model\ResourceModel\Grid\Collection</item>
                <item name="tnw_subscriptionprofileorder_grid_data_source"
                      xsi:type="string">TNW\Subscriptions\Model\ResourceModel\SubscriptionProfileOrder\Grid\Collection</item>
                <item name="tnw_productsubscriptionprofile_grid_data_source"
                      xsi:type="string">TNW\Subscriptions\Model\ResourceModel\ProductSubscriptionProfile\Grid\Collection</item>
                <item name="tnw_subscriptionprofile_create_customer_grid_data_source"
                      xsi:type="string">Magento\Customer\Model\ResourceModel\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <preference for="TNW\Subscriptions\Api\BillingFrequencyRepositoryInterface"
                type="TNW\Subscriptions\Model\BillingFrequencyRepository"/>
    <preference for="TNW\Subscriptions\Api\Data\BillingFrequencyInterface"
                type="TNW\Subscriptions\Model\BillingFrequency"/>
    <preference for="TNW\Subscriptions\Api\Data\BillingFrequencySearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <virtualType name="TNW\Subscriptions\Model\ResourceModel\ProductBillingFrequency\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tnw_subscriptions_product_billing_frequency</argument>
            <argument name="resourceModel"
                      xsi:type="string">TNW\Subscriptions\Model\ResourceModel\ProductBillingFrequency\Collection</argument>
        </arguments>
    </virtualType>
    <preference for="TNW\Subscriptions\Api\ProductBillingFrequencyRepositoryInterface"
                type="TNW\Subscriptions\Model\ProductBillingFrequencyRepository"/>
    <preference for="TNW\Subscriptions\Api\Data\ProductBillingFrequencyInterface"
                type="TNW\Subscriptions\Model\ProductBillingFrequency"/>
    <preference for="TNW\Subscriptions\Api\Data\ProductBillingFrequencySearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <preference for="TNW\Subscriptions\Api\ProductSubscriptionProfileRepositoryInterface"
                type="TNW\Subscriptions\Model\ProductSubscriptionProfileRepository"/>
    <preference for="TNW\Subscriptions\Api\Data\ProductSubscriptionProfileInterface"
                type="TNW\Subscriptions\Model\ProductSubscriptionProfile"/>
    <preference for="TNW\Subscriptions\Api\Data\ProductSubscriptionProfileSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <preference for="TNW\Subscriptions\Api\SubscriptionProfileRepositoryInterface"
                type="TNW\Subscriptions\Model\SubscriptionProfileRepository"/>
    <preference for="TNW\Subscriptions\Api\Data\SubscriptionProfileInterface"
                type="TNW\Subscriptions\Model\SubscriptionProfile"/>
    <preference for="TNW\Subscriptions\Api\Data\SubscriptionProfileSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <preference for="TNW\Subscriptions\Api\SubscriptionProfileOrderRepositoryInterface"
                type="TNW\Subscriptions\Model\SubscriptionProfileOrderRepository"/>
    <preference for="TNW\Subscriptions\Api\Data\SubscriptionProfileOrderInterface"
                type="TNW\Subscriptions\Model\SubscriptionProfileOrder"/>
    <preference for="TNW\Subscriptions\Api\Data\SubscriptionProfileOrderSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <preference for="TNW\Subscriptions\Api\SubscriptionProfileAddressRepositoryInterface"
                type="TNW\Subscriptions\Model\SubscriptionProfile\AddressRepository"/>
    <preference for="TNW\Subscriptions\Api\Data\SubscriptionProfileAddressInterface"
                type="TNW\Subscriptions\Model\SubscriptionProfile\Address"/>
    <preference for="TNW\Subscriptions\Api\Data\SubscriptionProfileAddressSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <preference for="TNW\Subscriptions\Api\SubscriptionProfileQueueRepositoryInterface"
                type="TNW\Subscriptions\Model\QueueRepository"/>
    <preference for="TNW\Subscriptions\Api\Data\SubscriptionProfileQueueInterface"
                type="TNW\Subscriptions\Model\Queue"/>
    <preference for="TNW\Subscriptions\Api\Data\SubscriptionProfileQueueSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <virtualType name="TNW\Subscriptions\Model\ResourceModel\SubscriptionProfileOrder\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">tnw_subscriptions_subscription_profile_order</argument>
            <argument name="resourceModel"
                      xsi:type="string">TNW\Subscriptions\Model\ResourceModel\SubscriptionProfileOrder\Collection</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Catalog\Model\Product">
        <plugin name="subscriptions_product"
                type="TNW\Subscriptions\Plugin\Product\Product"
                sortOrder="100"
                disabled="false"/>
    </type>
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Initialization\Helper">
        <plugin name="subscriptions_product_initialization"
                type="TNW\Subscriptions\Plugin\Product\Initialization"
                sortOrder="50"
                disabled="false"/>
    </type>

    <type name="TNW\Subscriptions\Model\BillingFrequency">
        <plugin name="subscriptions_frequency_save_linked_products"
                type="TNW\Subscriptions\Plugin\BillingFrequency\SaveLinkedProducts"
                sortOrder="10"
                disabled="false"/>
    </type>

    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Magento\Catalog\Api\Data\ProductInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="recurring_options_reader" xsi:type="string">TNW\Subscriptions\Model\ProductBillingFrequency\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="recurring_options_creator" xsi:type="string">TNW\Subscriptions\Model\ProductBillingFrequency\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="recurring_options_updater" xsi:type="string">TNW\Subscriptions\Model\ProductBillingFrequency\SaveHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="TNW\Subscriptions\Api\Data\SubscriptionProfileInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="string">tnw_subscriptions_subscription_profile_entity</item>
                    <item name="eavEntityType" xsi:type="string">subscription_profile</item>
                    <item name="identifierField" xsi:type="string">entity_id</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\HydratorPool">
        <arguments>
            <argument name="hydrators" xsi:type="array">
                <item name="TNW\Subscriptions\Api\Data\SubscriptionProfileInterface" xsi:type="string">Magento\Framework\EntityManager\AbstractModelHydrator</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="TNW\Subscriptions\Api\Data\SubscriptionProfileInterface" xsi:type="string">TNW\Subscriptions\Api\Data\SubscriptionProfileInterface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="TNW\Subscriptions\Api\Data\SubscriptionProfileInterface" xsi:type="array">
                    <!-- Save/load subscription profile addresses/products -->
                    <item name="read" xsi:type="array">
                        <item name="profile_address_reader" xsi:type="string">TNW\Subscriptions\Model\SubscriptionProfile\Address\ReadHandler</item>
                        <item name="profile_product_reader" xsi:type="string">TNW\Subscriptions\Model\SubscriptionProfile\Product\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="profile_address_creator" xsi:type="string">TNW\Subscriptions\Model\SubscriptionProfile\Address\SaveHandler</item>
                        <item name="profile_product_creator" xsi:type="string">TNW\Subscriptions\Model\SubscriptionProfile\Product\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="profile_address_updater" xsi:type="string">TNW\Subscriptions\Model\SubscriptionProfile\Address\SaveHandler</item>
                        <item name="profile_product_updater" xsi:type="string">TNW\Subscriptions\Model\SubscriptionProfile\Product\SaveHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Product builder plugin to setup default attributes values on create new product request -->
    <type name="Magento\Catalog\Controller\Adminhtml\Product\Builder">
        <plugin name="subscriptions_product_builder"
                type="TNW\Subscriptions\Plugin\Product\Builder"
                sortOrder="50"
                disabled="false"/>
    </type>

    <!-- Eav attribute plugin to setup default value from config -->
    <type name="Magento\Catalog\Model\ResourceModel\Eav\Attribute">
        <plugin name="subscriptions_eav_attribute"
                type="TNW\Subscriptions\Plugin\Product\Attribute"
                sortOrder="60"
                disabled="false"/>
    </type>

    <!-- Addon text form element plugin -->
    <type name="Magento\Framework\Data\Form\AbstractForm">
        <plugin name="subscriptions_add_currency_form_element_type"
                type="TNW\Subscriptions\Plugin\Data\Form\AbstractForm"
                sortOrder="10"
                disabled="false"/>
    </type>

    <!-- Eav attribute plugin to setup default attribute set and attribute group -->
    <type name="Magento\Eav\Model\Attribute">
        <plugin name="subscriptions_subscription_profile_attribute"
                type="TNW\Subscriptions\Plugin\Eav\Attribute"
                sortOrder="10"
                disabled="false"/>
    </type>

    <type name="Magento\Eav\Model\Entity\AttributeCache">
        <arguments>
            <argument name="unsupportedTypes" xsi:type="array">
                <item name="subscription_profile" xsi:type="string">subscription_profile</item>
                <item name="tnw_product_subscription_profile" xsi:type="string">tnw_product_subscription_profile</item>
            </argument>
        </arguments>
    </type>

    <!-- Product copier plugin for duplicating subscription options -->
    <type name="Magento\Catalog\Model\Product\Copier">
        <plugin name="subscriptions_product_billing_frequency_duplicate"
                type="TNW\Subscriptions\Plugin\Product\Copier" />
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="tnw_subscriptions_generate_quotes_command" xsi:type="object">TNW\Subscriptions\Console\Command\GenerateCommand</item>
                <item name="tnw_subscriptions_process_command" xsi:type="object">TNW\Subscriptions\Console\Command\ProcessCommand</item>
            </argument>
        </arguments>
    </type>
</config>
